* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}




header {
  background-color: #c5bb9d;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}




header h1 {
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}




nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}




nav ul li {
  margin: 0 15px;
}




nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover { 
  background-color: #674636;
  color: white;
  border-radius: 10%;
}




main {
  padding: 20px;
  text-align: center;
}




main h2,
main h3 {
  margin-bottom: 20px;
}




.welcome p {
  margin: 20px 0;
  font-size: 18px;
}




.image-highlight img {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-top: 20px;
  border-radius: 5%;
}




form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 30px;
}




form label {
  margin: 10px 0 5px 0;
  text-align: left;
}




form input,
form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}




form button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}




form button:hover {
  background-color: #555;
}




footer {
  background-color: #674636;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  align-items: flex-start;
 

}




/* From Uiverse.io by joe-watson-sbf */
.card {
  width: 190px;
  height: 120px;
  transition: all .5s;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.11),
    -15px -15px 30px #00000015;
  text-align: center;
  overflow: hidden;





}


.card:hover {
  height: 260px;
}


.card .header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e9ac04;
  margin-bottom: 16px;
}


.card .header .img-box {
  width: 50px;
}


.card .header .title {
  font-size: 1em;
  letter-spacing: .1em;
  font-weight: 900;
  text-transform: uppercase;
  padding: 4px 0 14px 0;
  transition: all .5s;
  color: #edededc5;
}


.card:hover .header {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
}


.card:hover .card .header .title {
  padding: 0;
}


.card .content {
  display: block;
  text-align: left;
  color: #000000;
  margin: 0 18px;
}


.card .content p {
  transition: all .5s;
  font-size: .8em;
  margin-bottom: 8px;
}


.card .content a {
  color: #1d8122;
  cursor: pointer;
  transition: all .5s;
  font-size: .7rem;
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
}


.card .content .btn-link:hover {
  border-bottom: 1px solid #1d8122;
}

div.card {
  justify-content: left;
  padding: 5%;
  align-items: center;
}


/* Contêiner para os cards */
.cards-container {
  display: flex;
  justify-content: space-around;
  /* Distribui os itens igualmente */
  align-items: center;
  /* Alinha os itens no centro */
  padding: 20px;
}


/* Ajustes no card */
.card {
  width: 190px;
  height: 120px;
  transition: all 0.5s;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.11), -15px -15px 30px #00000015;
  text-align: center;
  overflow: hidden;
  margin: 10px;
  /* Adiciona espaço entre os cards */
}


.card:hover {
  height: 260px;
}


.card .header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e9ac04;
  margin-bottom: 16px;
}


.card .header .title {
  font-size: 1em;
  letter-spacing: 0.1em;
  font-weight: 900;
  text-transform: uppercase;
  padding: 4px 0 14px 0;
  transition: all 0.5s;
  color: #edededc5;
}


.card .content {
  display: block;
  text-align: left;
  color: #000;
  margin: 0 18px;
}


.card .content p {
  transition: all 0.5s;
  font-size: 0.8em;
  margin-bottom: 8px;
}


.card .content a {
  color: #1d8122;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
}


/* Hover effect para o título */
.card:hover .header .title {
  padding: 0;
}





/* From Uiverse.io by joe-watson-sbf */
.card {
  width: 190px;
  height: 120px;
  transition: all .5s;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.11),
    -15px -15px 30px #00000015;
  text-align: center;
  overflow: hidden;



}

.card:hover {
  height: 260px;
}

.card .header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #825B32;
  margin-bottom: 16px;
}

.card .header .img-box {
  width: 50px;
}

.card .header .title {
  font-size: 1em;
  letter-spacing: .1em;
  font-weight: 900;
  text-transform: uppercase;
  padding: 4px 0 14px 0;
  transition: all .5s;
  color: #edededc5;
}

.card:hover .header {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
}

.card:hover .card .header .title {
  padding: 0;
}

.card .content {
  display: block;
  text-align: left;
  color: #000000;
  margin: 0 18px;
}

.card .content p {
  transition: all .5s;
  font-size: .8em;
  margin-bottom: 8px;
}

.card .content a {
  color: #1d8122;
  cursor: pointer;
  transition: all .5s;
  font-size: .7rem;
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
}

.card .content .btn-link:hover {
  border-bottom: 1px solid #1d8122;
}

div.card {
  justify-content: right;
  padding:2px;
  align-items: center;
}